# nlp
nlp/data/*.csv
nlp/models/*.model
nlp/log.txt
256x256_diffusion_uncond.pt
512x512_diffusion_uncond_finetune_008100.pt
CLIP/
guided-diffusion/
output.png
LibriSpeech/
test-clean.tar.gz
train-clean-100.tar.gz
nlp/__pycache__
nlp/data/jd_data_5000.json*

multimodal/__pycache__

# multimodal
multimodal/data/*.pdf
multimodal/data/*.md
multimodal/data/*.json
multimodal/*.zip

# computer vision
computer_vision/out/*.png
computer_vision/data/cifar-10-batches-py/
computer_vision/data/cifar-10-python.tar.gz
computer_vision/cifar_net.pth
computer_vision/min-dalle/

# apple
*:com..apple.macl